<div class=" breadcrumb-item active "style="margin-left: 87%" aria-current="page">שלום {{intern.Full_name}}+תמונה</div>
<h3>הפרופיל שלך הושלם !</h3>
<p> עכשיו אתה יכול להתחיל להשתמש במערכת הסימולטור: להתאמן, להבחן ולבדוק את הפרויקטים שלך </p>
<br>
           <button  routerLink='/simulator' (click) ="Personal() ">log in  </button>
           <br>
         <br>
         <br/><p>66% Completed</p>
         <div class="progress" style="height: 15px">
          <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">66%</div>
         </div>