 <div class=" breadcrumb-item active "style="margin-left: 87%" aria-current="page">שלום {{intern.Full_name}}+{{intern.passport}}</div>

<h1>תודה לך {{intern.Full_name}}</h1>

<h3>חשבון המשתמש שלך נוצר </h3>
<p>על מנת להתאים לך את הסימולטור עליך למלא שאלון קצר</p>
<br/> 
           <button  routerLink='/Questionnaire'>let's start  </button>
           <br/> 
           <!-- <br/>
           <button  routerLink='/Questionnaire'> click me  </button>
           <br/> -->
           <!-- <header>
<p>llllllllllllllllllllll</p>
           </header><br>
           <main>
                <section class="a"> eeee </section>
                <section class="b">rrr  </section>
                <section class="c"> yyy </section>

           </main> -->
           

           