<div class=" breadcrumb-item active "style="margin-left: 87%" aria-current="page">שלום {{intern.Full_name}}+תמונה</div>
<h3>בבקשה ספר לנו אודתיך מהפן המקצועי</h3>
<div class="row">
        <div class="col">
          <input name="a" [(ngModel)]="medical_institution" type="text" class="form-control" id="validationTooltip03" placeholder="מוסד רפואי" aria-label="medical_institution" required>
          
        </div>
        <div class="col">
            <select name="b" [(ngModel)]="residency" type="text" id="residency" class="form-select">
              <option selected>residency</option>
              <option>...</option>
            </select>
         </div>
         <div class="col">
            <select name="c" [(ngModel)]="department" type="text" id="מַחלָקָה" class="form-select">
              <option selected>מַחלָקָה...</option>
              <option>...</option>
            </select>
         </div>
        </div> <br> <br>
        <label for="customRange2" class="form-label">סמן את שנות ההתמחות</label>
            <input [(ngModel)]="years" type="range" class="form-range" min="0" max="7" id="customRange2">
            <br>
         <br>
           <button  routerLink='/questionnaire-c' (click) ="Personal()">next  </button>
           <br>
         <br>
         
      <br/><p>33% Completed</p>
        <div class="progress" style="height: 15px">
         <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">33%</div>
        </div>
     
 