/* Data ={
    id_number:null,
    Full_name:null,
    passport:null,
    imgs:null,
    age:null,
    Choose:null,
    city:null,
    department:null,
    medical_institution:null,
    residency:null,
    years:null,
    ameil:null,
    test={
        test1={

        }
        test2:null, 
        test3:null, 
        test4:null, 
        test5:null, 
        test6:null, 
        test7:null,  
    }
  }; */