<div class=" breadcrumb-item active "style="margin-left: 87%" aria-current="page">שלום {{intern.Full_name}}+תמונה</div>
  <br>

<div class="container" style="margin-top: 8rem;">
        <div class="row">
            <div class="col-md-2 ab">
                <div class="s">
                        <!-- <td style="width: 14%" > -->
                                שלום {{intern.Full_name}}+תמונה
                               <br>בית החולים במה מתמחה כמה שנים 
                                   <br> <br> <br> <br>
                                   
                                   גרף הפרוקטים שלך
                      
                              <br> 
                          <!-- </div>               -->
                 </div>
        </div>
            <div class="col-md-6 b "> 
                הפרויקטים שלך
                    <div class="container p" style="margin-top: 2rem;">
                        
                      <div class="row  ">
                          <span class="col-md-6 ">מבחן</span> <span class="col "><span class="a"></span> </span>
                              <button class="col-md-2 "  (click) ='test()' routerLink='/Formd'> הציון שלך </button>
                              <div class="background"> </div>
                      </div>
                      <div class="row">
                        <span class="col-md-6">מבחן</span> <span class="col "><span class="a"></span> </span>
                            <button class="col-md-2"  (click) ='test()' routerLink='/Formd'> הציון שלך </button>
                    </div>
                     <div class="background"> </div>

                    <div class="row">
                      <span class="col-md-6">מבחן</span> <span class="col "><span class="a"></span> </span>
                          <button class="col-md-2"  (click) ='test()' routerLink='/Formd'> הציון שלך </button>
                    </div>
                <div class="background"> </div>

                    <div class="row">
                    <span class="col-md-6">מבחן</span> <span class="col "><span class="a"></span> </span>
                        <button class="col-md-2"  (click) ='test()' routerLink='/Formd'> הציון שלך </button>
                   </div>
                    <div class="background"> </div>

                   <div class="row">
                          <span class="col-md-6">מבחן</span> <span class="col "><span class="a"></span> </span>
                              <button class="col-md-2"  (click) ='test()' routerLink='/Formd'> הציון שלך </button>
                      </div>
                      <div class="background"> </div>
                <div class="row">
                  <span class="col-md-6">מבחן</span> <span class="col "><span class="a"></span> </span>
                      <button class="col-md-2"  (click) ='test()' routerLink='/Formd'> הציון שלך </button>
              </div>
              <div class="background"> </div>
              <div class="row">
                <span class="col-md-6">מבחן</span> <span class="col "><span class="a"></span> </span>
                    <button class="col-md-2"  (click) ='test()' routerLink='/Formd'> הציון שלך </button>
            </div>
            <div class="background"> </div>
            <div class="row">
                <span class="col-md-6">מבחן</span> <span class="col "><span class="a"></span> </span>
                    <button class="col-md-2"  (click) ='test()' routerLink='/Formd'> הציון שלך </button>
            </div>
            <div class="background"> </div>
            <div class="row">
                <span class="col-md-6">מבחן</span> <span class="col "><span class="a"></span> </span>
                    <button class="col-md-2"  (click) ='test()' routerLink='/Formd'> הציון שלך </button>
            </div>
            <div class="background"> </div>
            <div class="row">
                <span class="col-md-6">מבחן</span> <span class="col "><span class="a"></span> </span>
                    <button class="col-md-2"  (click) ='test()' routerLink='/Formd'> הציון שלך </button>
            </div>
            <div class="background"> </div>

                      
                      <!-- <tr>תרגיל <span style="width: 50px; " class="bg-primary m-1 rounded-circle" ></span> -->
                          <!-- <button  (click) ='test()' routerLink='/Formd'> ראה את הציון </button> -->
                      <!-- </tr> -->
                    <!-- <tr>תרגיל <div style="margin-left: 87%"><span class="a"> </span>  <button  (click) ='test()' routerLink='/Formd'> ראה את הציון </button></div></tr>
                    <tr>תרגיל <span class="a"> </span>  <button  (click) ='test()' routerLink='/Formd'> ראה את הציון </button></tr>
                    <tr>מבחן</tr>
                    <tr>תרגיל</tr>
                  <tr>תרגיל</tr><br>
                  <tr>תרגיל</tr><br>
                  <tr>מבחן</tr><br>
                      <tr>תרגיל</tr><br>
                    <tr>תרגיל</tr><br>
                    <tr>תרגיל</tr><br>
                    <tr>מבחן</tr><br>
                      <tr>תרגיל</tr><br>
                    <tr>תרגיל</tr><br>
                    <tr>תרגיל</tr><br> -->
            </div>
          </div>
              <div class="col-md-4 c">
                <div class="row">
                <div class="t ">
                    <table class="table table-striped">
                        <thead class= "thead-dark">
                          <tr>
                            <th scope="col">תרגיל
                                <button   (click) ='test' routerLink='/simulator_b'> התחל תרגיל חדש </button>
                            </th>
                          </tr>
                          <tr>
                          <th scope="col">
                              fbtnmnmdjydskjdkd
                          </th>
                        </tr>
                            </thead>
                            </table>
                </div></div>
                <div class="row">
                    <div class="t ">
                        <table class="table table-striped">
                            <thead class= "thead-dark">
                              <tr>
                                  <th scope="col">מבחן
                                      <button   (click) ='test' routerLink='/simulator_b'> התחל מבחן חדש </button>
                                  </th>
                              </tr>
                              <tr>
                              <th scope="col">
                                  gfdhfnhymnmdslu
                              </th>
                            </tr>
                                </thead>
                                </table>
                    </div></div>
              </div>
       
    </div>
  
    <br>
    <br>
  <button  routerLink='/simulator_b' (click) ="Personal()">next  </button>
  <br>
  <br>
</div>