<div class="container">
<div class="row" style="border:1">

  <div class="col">
    <div class=" breadcrumb-item active " style="margin-left: 87%" aria-current="page">Already have an eccount?<a
        [routerLink]='["/HaveAccount"]'> LOG in</a></div>
  </div>
</div>
<!-- <table >
          <tr>
              <td>
                <div class="t">
                <div class="row container-fluid" >
                  <div class="col">
                    <img   src='/assets/images.jpg' width="210" height="320"alt>
                   </div>
                  </div>
                </div>
               </td>
                <td>
                   <table>
                  <tr> 
                       <td>
                         <span class ="breadcrumb-item"><a class="nav-link"><h4>Intern</h4></a></span>
                      <span class="breadcrumb-item active" aria-current="page"><a class="nav-link"
                         [routerLink]='["Supervisor"]'><h4>Supervisor</h4></a></span>
                        </td>  
                  </tr>
                  <tr> 
                       <td> 
                         <div> 
                          <h2> !ברוכים הבאים </h2>
                          <p>אם עדיין לא נרשמתם יש להרשם ע"י כניסה בלחצן הבא</p>
                        </div> 
                        <br/>
                <button  routerLink='Forma'> click me  </button>
                <br/>
                      </td> 
                    </tr>
               </table>
               </td>
          </tr>
      </table> -->
<div class="d-flex justify-content-center">
  <div class="card" style="max-width: 1300px;max-height: 8540px">
    <div class="row g-0">
      <div class="col-md-3">
        <img src='/assets/images.jpg' class="img-fluid rounded-start" width="1000" height="1500" alt="...">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <a class="nav-link">
                <h4>Intern</h4>
              </a>
            </div>
            <div class="col-md-10">
              <a class="nav-link" [routerLink]='["Supervisor"]'>
                <h4>Supervisor</h4>
              </a>
            </div>
          </div>
          <h2 class="card-text">!ברוכים הבאים</h2>
          <p class="card-text"><small class="text-muted">אם עדיין לא נרשמתם יש להרשם ע"י כניסה בלחצן הבא</small></p>
          <p class="card-text"><small class="text-muted"><button  routerLink='Forma'> click me  </button></small></p>

        </div>
      </div>
    </div>












    <!-- <table border="1">
   <div class="t">
    <div class="row container-fluid" >
      
      <div class="col">
          <img   src='/assets/images.jpg' width="210" height="320"alt>
        </div>
      </div>
    </div> -->

    <!-- <div class="col">
         <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">  -->
    <!-- <td>  -->
    <!-- <ol class="breadcrumb">
                 <li class ="breadcrumb-item"style="margin-left:275% margin-top: 8%" ><a class="nav-link"><h4>Intern</h4></a></li>
                     <li class="breadcrumb-item active" aria-current="page" style="margin-left:275% margin-top 8%"><a class="nav-link" [routerLink]='["Supervisor"]'><h4>Supervisor</h4></a></li>
                     
                     <div> 
                     <p> !ברוכים הבאים </p>
                     <p>אם עדיין לא נרשמתם יש להרשם ע"י כניסה בלחצן הבא</p>
                   </div> 

                <br/>
                <button  routerLink='Forma'> click me  </button>
                <br/>

             </ol> -->
    <!-- </td> -->
    <!-- </nav> -->
    <!-- </div>        -->
    <!-- </div> -->

    <!-- </table>  -->


    <!--     
      <table border="1">
        <tr>
          <td>
          
          <div class="t">
            <div class="row container-fluid" >
                 <div class="col">
                   <img   src='/assets/images.jpg' width="210" height="320"alt>
                 </div>
 
                    <td>
                        <table border="1">
                            <tr>
                                <ol class="breadcrumb">
                
                                    <li class ="breadcrumb-item"style="margin-left:275% margin-top: 8%" ><a class="nav-link"><h4>Intern</h4></a></li>
                                        <li class="breadcrumb-item active" aria-current="page" style="margin-left:275% margin-top 8%"><a class="nav-link" [routerLink]='["Supervisor"]'><h4>Supervisor</h4></a></li>
                                         <div> 
                                        <p> !ברוכים הבאים </p>
                                        <p>אם עדיין לא נרשמתם יש להרשם ע"י כניסה בלחצן הבא</p>
                                      </div> >
                                   <br/>
                                   <button  routerLink='Forma'> click me  </button>
                                   <br/>
                                       </ol>
                                       
                                     </tr>
                                     </table> -->