<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <p class="card-text">{{resultb[4].Full_name}}</p>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <p class="card-text">{{resultb[4].age}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
              <p class="card-text">{{resultb[4].medical_institution}}</p>
          </div>
        </div>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
              <p class="card-text">{{resultb[4].Full_name}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
              <p class="card-text">{{resultb[4].medical_institution}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
                <p class="card-text">{{resultb[4].department}}</p>
            </div>
          </div>
        </div>
    </div>
    <br>
    <button  routerLink='//supervisorb/child'>לחזור לרשימת מתמחים</button>
