<div class=" breadcrumb-item active "style="margin-left: 87%" aria-current="page">שלום {{supervisor}}+תמונה</div>
<div class="container" style="margin-top: 8rem;">
<div class="row">
        <div class="col-sm-3">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title ">תמונה<br>
                שלום {{supervisor}}   <br>
                ביה"ח אקדמאי אסותה<br> 
              מנחה            </h5>
              <div class="card-text">
                <h3>{{actives}}</h3>
                active intern</div>
           
            <div class="card-text">
                <h3>{{actives}}</h3>
                active intern</div>
            <div class="card-text">
                <h3>{{actives}}</h3>
                ציון מבחן ממוצע</div>
            </div>  
            </div>    
          </div>
        <!-- </div> -->
        <div class="col-sm-9">
          <div class="card">
            <div class="card-body" *ngIf="show"  >
              <app-child></app-child>
              <button (click)= "switch()"></button>
            </div>

              <div class="card-body" *ngIf="!show">
              <app-child2></app-child2>
              <button (click)= "switch()"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    