.ar{
    width: 95px;
    height: 45px;
    /* color: rgb(236, 14, 14);
    border: solid rgb(104, 56, 236) 3px;
    border-radius: 8px;
    margin: 15px;*/
    padding: 7px 15px;
    /*Font-weight:700; */
}
.aa{
    max-width: 35%;
}
/* body {
    background-image: url("/assets/הורדה.jpg");
    background-color: #f382825b;
   } */