<div class="card text-center" style="height: 188px;;">ffffff
    </div>
    <p>סקירת מתמחים</p>
    <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">שם</th>
                <th scope="col">מבחנים</th>
                <th scope="col">ממוצע ציונים</th>
                <th scope="col">תאריך מבחן אחרון</th>
                <th scope="col">ציון מבחן אחרון</th>
              </tr>
            </thead>
            <tbody>
              
              <tr *ngFor= "let inter of resultb" [value]='inter.id_number'>
                  <!-- <tr *ngFor= "let inter of resultb"> -->

                <th scope="row">{{inter.Full_name}}</th>
                <td>{{inter.id_number}}</td>
                <td>3</td>
                <td>44</td>
                <td>20/2/21</td>
                <td>84</td>
                <td><button  class="form-control" routerLink='/supervisorb/child2'  (click)='onUserClick()'  >צפה בפרופיל  </button></td>
                
                <!-- <td><button class="form-control"   (click)='onUserClick()'  [disabled]="form1.invalid"  >צפה בפרופיל  </button></td> -->
              </tr>
              <!-- <tr>
                  <th scope="row">משה</th>
                  <td>5</td>
                  <td>74</td>
                  <td>20/2/21</td>
                  <td>84</td>
                  <td><button class="form-control"   (click)='onUserClick()'>צפה בפרופיל  </button></td>
              </tr>
              <tr>
                  <th scope="row">דןוד</th>
                  <td>3</td>
                  <td>44</td>
                  <td>20/2/21</td>
                  <td>84</td>
                  <td><button class="form-control"   (click)='onUserClick()'>צפה בפרופיל  </button></td>
              </tr>
              <tr>
                  <th scope="row">חיים</th>
                  <td>3</td>
                  <td>44</td>
                  <td>20/2/21</td>
                  <td>84</td>
                  <td><button class="form-control"   (click)='onUserClick()'>צפה בפרופיל  </button></td>
              </tr>
              <tr>
                  <th scope="row">דוד</th>
                  <td>3</td>
                  <td>44</td>
                  <td>20/2/21</td>
                  <td>84</td>
                  <td><button class="form-control"   (click)='onUserClick()'>צפה בפרופיל  </button></td>
              </tr>
              <tr>
                  <th scope="row">דוד</th>
                  <td>3</td>
                  <td>44</td>
                  <td>20/2/21</td>
                  <td>84</td>
                  <td><button class="form-control"   (click)='onUserClick()'>צפה בפרופיל  </button></td> -->
              <!-- </tr> -->
            </tbody>
          </table>